bootstrap.servers=pkc-4v5zz.sa-east-1.aws.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=PAUYLG2VEX7FPD52
sasl.password=S42fiiY/D+7VjP5nGY0m79sJ4f32+dxxXeo6j6842WUzyeWkDTCTA7FaKjmIXw8b


schema.registry.url=https://{{ SR_ENDPOINT }}
basic.auth.credentials.source=USER_INFO
basic.auth.user.info={{ DSQ3D3MJWEWJ2SSM }}:{{ p2kmuRgbAZd+lsf++R+9juQPNKKsPnwbIxqUNDVRvX8Nr9YCmN0WxKnjqmILgn8h }}
